.storageWrap {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 1em;
    padding: 1em;

    .items {
        display: flex;
        flex-wrap: wrap;

        .item_info_button {
            background: linear-gradient(90deg, rgba(68,68,68,0.3) 0%, rgba(68,68,68,0.65) 100%);
            transition: .3s;
        }

        .item_info_button:hover {
            background: linear-gradient(90deg, rgba(68,68,68,0.4) 0%, rgba(68,68,68,0.7) 100%);
        }
    }

    .storage {
        .storage-unit {
            .storage-unit-container {
                background: #F5F5F5;
                border-radius: 10px;
                box-shadow: unset;
                padding: 0 20px;
                height: 55px;

                & + .storage-unit-modal {
                    display: none;
                }

                & + [data-state="true"] {
                    display: block;
                }

                .storage-unit-text {
                    input {
                        background-color: transparent;

                        &::placeholder {
                            font-size: 13px;
                            line-height: 15px;
                            color: #928F8F;
                        }
                    }
                }
                .storage-unit-arrow {
                    height: 27px;
                    width: 27px;

                    &.opened {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .searchArea {
        .paginationHere {
            display: block;
            text-align: center;
            margin: 4em auto;

            .page {
                display: inline-block;
                background: radial-gradient(136.45% 624.88% at -9.81% 26%,#c8c8c8 0,rgba(49,114,210,0) 100%);
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
                width: 2em;
                height: 2em;
                line-height: 2em;
                margin: 0 3px;
            }

            .active.page {
                background: radial-gradient(136.45% 624.88% at -9.81% 26%,#3dd4e9 0,rgba(49,114,210,0) 100%);
            }
        }
    }
}

@media (max-width: 1200px) {
    .storageWrap {
        grid-template-columns: 1fr;
    }
    .storage {
        grid-row: 1/2;
    }
}

@media (max-width: 768px) {
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}