.tsen_wrapper {
    margin: 0.4em;

    h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #444444;
        margin: 1em 0 2em;
        padding-left: 20px;
    }
    .tsen_wrapper__submenu {
        display: grid;
        grid-template-columns: max-content max-content 10% auto 5% 216px;
        padding: 0 20px;
        grid-template-rows: 55px 1px;


        .sub-volume-button {
            display: grid;
            grid-template-rows: 30px 25px;
            height: 55px;
            position: relative;

            .sub-nav-item {
                padding: 5px 15px;
                font-size: 14px;
                align-self: end;
                cursor: pointer;
                color: #928F8F;
            }

            .sub-nav-item.active,
            .sub-nav-item:hover {
                background: linear-gradient(0deg, rgba(130, 130, 130, 0.2), rgba(130, 130, 130, 0) 90%);
                color: #444444;
            }

            .sub-gradient-shadow {
                height: 25px;
            }

            .sub-nav-item.active + .sub-gradient-shadow, 
            .sub-nav-item:hover + .sub-gradient-shadow {
                background: linear-gradient(180deg, rgba(130, 130, 130, 0.2), rgba(130, 130, 130, 0) 100%);
                clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
            }
        }
        .sub-plain-button.with-image {
            padding-top: 10px;
            margin-right: 10px;
            
            img {
                margin-right: 7px;
            }
        }
        .sub-plain-button.with-image-menu {
            padding-top: 10px;
            
            img {
                margin-right: 7px;
            }
        }
        .tsen_wrapper__submenu-search {
            .hidet {
                background: rgba(164, 164, 172, 0.4) url(../magnifyingglass.svg) no-repeat 10px center/16px 16px;
                padding: 7px 8px 7px 32px;
                border-radius: 10px;
                font-size: 14px;
                line-height: 22px;
                height: 32px;
                box-sizing: border-box; 
                width: 216px;
            }
        }
        
    }
    .tsen_wrapper__subsubmenu {
        display: grid;
        grid-template-columns: repeat(10, auto);
        gap: 10px;
        padding: 0 20px;
        margin-bottom: 3px;
        font-size: 14px;
        color: #928F8F;
        margin-top: 5px;

        .sub-plain-button.with-image-menu {
            background-color: #EDEFEF;
            padding: 2px 8px 4px;
            border-radius: 7px;

            select.nonappear {
                background: transparent url(miniMenu.svg) no-repeat right center/10px 12px;
                color: #8e8e8e;
                width: 100%;
                cursor: pointer;
            }
        }

        .subsub_point {
            background-color: #EDEFEF;
            border-radius: 7px;
            line-height: 22px;
            padding: 0 8px;
        }
    }
    .tsen_menu__border {
        height: 1px;
        background-color: #d0cfcf;
        margin: 4px 5em;
    }
    .tsen_body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        padding: 20px;
    }
    .paginationHereSides {
        text-align: center;
        display: flex;
        justify-content: center;

        span {
            border: 1px solid #444;
            margin: 0 5px;
            padding: 2px;
            font-weight: bold;
            font-size: 18px;
        }
    }
}