:root[data-theme=light] {
  --background-color: #f5f5f5;
  --background-loader-color: #2030b8;
  --text-color: #000;
  --light-text-color: rgba(105, 98, 98, 0.8);
  --logo-shadow-color: rgba(0, 0, 0, 0.5);
  --search-text-color: #444444;
  --search-icon-color: #444444;
  --nav-text-color: rgba(105, 98, 98, 0.8);
  --nav-active-text-color: #333;
  --gradient-shadow-background: linear-gradient(
    0deg,
    rgba(68, 68, 68, 0.2) 0%,
    rgba(129, 129, 129, 0) 90%
  );
  --gradient-active-shadow-background: linear-gradient(
    180deg,
    rgba(68, 68, 68, 0.2) 0%,
    rgba(58, 57, 57, 0.012) 85%
  );
  --news-title-color: #444444;
  --news-text-color: #000;
  --tasks-title-color: #444444;
  --tasks-color: #444444;
  --tasks-checked-color: #928f8f;
  --tasks-overdue-checked-color: #e88484;
  --tasks-mobile-bg-color: rgba(255, 255, 255, 0.7);
  --tasks-mobile-calendar-icon-bg: none;
  --rating-range-slider-color: #444444;
  --rating-range-like-icon: url("like-light.svg");
  --rating-range-star-icon: url("star-light.svg");
  --rating-range-bonus-icon: url("bonus-light.svg");
  --mobile-rating-range-like-icon: url("mobile-like-light.svg");
  --mobile-rating-range-star-icon: url("mobile-star-light.svg");
  --mobile-rating-range-bonus-icon: url("mobile-bonus-light.svg");
  --widget-folder-border-color: #444444;
  --widget-folder-title-color: #605d5d;
  --calendar-month-color: #444444;
  --calendar-text-color: #605d5d;
  --active-waves-url: url(active-waves-black.svg);
  --waves-color: black;
  --button-bg: radial-gradient(
    106.45% 2212.37% at 11.94% 32.35%,
    rgba(68, 68, 68, 0.29) 0%,
    rgba(68, 68, 68, 0.65) 100%
  );
  --button-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  --font-family-clock: "Advent Pro", sans-serif;
}

:root[data-theme=dark] {
  --background-color: #0d0f1c;
  --background-loader-color: #fff;
  --text-color: #fff;
  --light-text-color: #d9d9d9;
  --logo-shadow-color: #fff;
  --search-text-color: #fff;
  --search-icon-color: #d9d9d9;
  --nav-text-color: #696262;
  --nav-active-text-color: #d9d9d9;
  --gradient-shadow-background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 0.2) 0%,
    rgba(129, 129, 129, 0) 90%
  );
  --gradient-active-shadow-background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.2) 0%,
    rgba(58, 57, 57, 0.012) 85%
  );
  --news-title-color: #928f8f;
  --news-text-color: #d9d9d9;
  --tasks-title-color: #c8c2c2;
  --tasks-color: #d9d9d9;
  --tasks-checked-color: #928f8f;
  --tasks-mobile-bg-color: rgb(76 72 72 / 38%);
  --tasks-mobile-calendar-icon-bg: radial-gradient(
    84.29% 104.49% at 20% 15.71%,
    #dde1e1 0%,
    rgba(250, 255, 255, 0) 100%
  );
  --rating-range-slider-color: #d9d9d9;
  --rating-range-like-icon: url("like-dark.svg");
  --rating-range-star-icon: url("star-dark.svg");
  --rating-range-bonus-icon: url("bonus-dark.svg");
  --mobile-rating-range-like-icon: url("mobile-like-light.svg");
  --mobile-rating-range-star-icon: url("mobile-star-light.svg");
  --mobile-rating-range-bonus-icon: url("mobile-bonus-light.svg");
  --widget-folder-border-color: #d9d9d9;
  --widget-folder-title-color: #d9d9d9;
  --calendar-month-color: #d9d9d9;
  --calendar-text-color: #d9d9d9;
  --active-waves-url: url(active-waves-white.svg);
  --waves-color: white;
  --button-bg: radial-gradient(
    106.45% 2212.37% at 11.94% 32.35%,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(217, 217, 217, 0.68) 100%
  );
  --button-box-shadow: 0px 4px 6px #797979;
  --font-family-clock: "Advent Pro", sans-serif;
}/*# sourceMappingURL=vars.css.map */