.itemJur {
    padding: 4px 12px;
    background-color: #F0F0F0;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid #444;

    .itemJur__wrap {
        display: flex;
        height: 100%;
        flex-direction: column;


        .itemJur__number_name {
            display: flex;
            justify-content: space-between;
            position: relative;
            border-bottom: 0.5px solid #928F8F;
            padding-bottom: 2px;
            margin-bottom: 2px;

            .itemJur__name {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: #444444;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;

                .itemJur__number:before {
                    content: "№ ";
                }
            }

            .itemJur__number {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
        }

        .itemJur__detail_block {
            height: 100%;
            .itemJur__details {
                color: rgba(146, 143, 143, 1);
                font-size: 14px;
                line-height: 16px;

                span {
                    color: rgba(68, 68, 68, 1);
                }
            }
        }

        .itemJur__change_wrap {
            display: flex;
            justify-content: space-between;

            .itemJur__documents {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
            }

            .itemJur__change {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
            }
        }
    }
}