.tsen_wrapper {
  margin: 0.4em;
}

.tsen_wrapper h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin: 1em 0 2em;
  padding-left: 20px;
}

.tsen_wrapper .tsen_wrapper__submenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content auto 5% 216px;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content auto 5% 216px;
      grid-template-columns: max-content max-content max-content max-content auto 5% 216px;
  padding: 0 20px;
  -ms-grid-rows: 55px 1px;
      grid-template-rows: 55px 1px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 25px;
      grid-template-rows: 30px 25px;
  height: 55px;
  position: relative;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-nav-item {
  padding: 5px 15px;
  font-size: 14px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  cursor: pointer;
  color: #928F8F;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-nav-item.active,
.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-nav-item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(130, 130, 130, 0.2)), color-stop(90%, rgba(130, 130, 130, 0)));
  background: linear-gradient(0deg, rgba(130, 130, 130, 0.2), rgba(130, 130, 130, 0) 90%);
  color: #444444;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-gradient-shadow {
  height: 25px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-nav-item.active + .sub-gradient-shadow,
.tsen_wrapper .tsen_wrapper__submenu .sub-volume-button .sub-nav-item:hover + .sub-gradient-shadow {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(130, 130, 130, 0.2)), to(rgba(130, 130, 130, 0)));
  background: linear-gradient(180deg, rgba(130, 130, 130, 0.2), rgba(130, 130, 130, 0) 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.tsen_wrapper .tsen_wrapper__submenu .sub-plain-button.with-image {
  padding-top: 5px;
  margin-right: 10px;
  line-height: 21px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-plain-button.with-image img {
  margin-right: 7px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-plain-button.with-image-menu {
  padding-top: 10px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-plain-button.with-image-menu img {
  margin-right: 7px;
}

.tsen_wrapper .tsen_wrapper__submenu .sub-plain-button.with-image.create {
  padding-top: 8px;
  cursor: pointer;
}

.tsen_wrapper .tsen_wrapper__submenu .tsen_wrapper__submenu-search .hidet {
  background: rgba(164, 164, 172, 0.4) url(../magnifyingglass.svg) no-repeat 10px center/16px 16px;
  padding: 7px 8px 7px 32px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 22px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 216px;
}

.tsen_wrapper .tsen_wrapper__subsubmenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  gap: 10px;
  padding: 0 20px;
  margin-bottom: 3px;
  font-size: 14px;
  color: #928F8F;
  margin-top: 5px;
}

.tsen_wrapper .tsen_wrapper__subsubmenu .sub-plain-button.with-image-menu {
  background-color: #EDEFEF;
  padding: 2px 8px 4px;
  border-radius: 7px;
}

.tsen_wrapper .tsen_wrapper__subsubmenu .sub-plain-button.with-image-menu select.nonappear {
  background: transparent url(miniMenu.svg) no-repeat right center/10px 12px;
  color: #8e8e8e;
  width: 100%;
  cursor: pointer;
}

.tsen_wrapper .tsen_wrapper__subsubmenu .subsub_point {
  background-color: #EDEFEF;
  border-radius: 7px;
  line-height: 22px;
  padding: 0 8px;
}

.tsen_wrapper .tsen_menu__border {
  height: 1px;
  background-color: #d0cfcf;
  margin: 4px 5em;
}

.tsen_wrapper .tsen_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 20px;
}

.tsen_wrapper .paginationHereSides {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tsen_wrapper .paginationHereSides span {
  border: 1px solid #444;
  margin: 0 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 18px;
}
/*# sourceMappingURL=Jur.css.map */