.inputPopup {
    width: 80%;
    max-width: 562px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #B8B6B6;
    background: radial-gradient(114.38% 114.38% at 11.18% 14.38%, rgba(217, 226, 227, 0.44) 0%, rgba(255, 255, 255, 0.51) 100%);
    border: 0.2px solid #B8B6B6;
    box-shadow: 0px 4px 4px rgba(121, 112, 112, 0.25);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
}